.journalRoute h1,
.journalRoute h2,
.journalRoute h3,
.journalRoute h4,
.journalRoute h4,
.journalRoute h5,
.journalRoute h6 {
	font-size: inherit;
	font-weight: bold;
}

.journalRoute a {
	padding: 0 0.25em;
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid black;
}

.journalRoute a:hover {
	border-bottom: 1px solid #0497cc;
}

.journalRoute a:active {
	color: #1e7b8c;
}

.journalRoute li > p {
	margin: 0;
}

.journalRoute code,
.journalRoute pre {
	font-family: monospace;
	box-shadow: 1px 0 0 #f2d64b, -1px 0 0 #f2d64b;
	background-color: #f2d64b;
	border-radius: 2px;
}

.journalRoute code {
	font-weight: bold;
}

.journalRoute pre {
	padding: 0.5em 1em;
}