body {
	background-color: #0c0c0c;
	color: white;
	font-family: sans-serif;
	font-weight: 100;
	line-height: 1.5;
	font-size: 0.7em;
}

#root {
	max-width: 48em;
	margin: 0 auto;
	padding: 0 4em;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: normal;
}

a {
	padding: 0 0.25em;
	text-decoration: none;
	color: hsl(40, 94%, 59%);
}

a:hover {
	color: white;
	text-decoration: underline;
}

a:active {

}

li > p {
	margin: 0;
}

code,
pre {
	font-family: monospace;
	box-shadow: 1px 0 0 hsl(40, 94%, 59%), -1px 0 0 hsl(40, 94%, 59%);
	background-color: hsl(40, 94%, 59%);
	border-radius: 2px;
}
p {
	margin-block-end: 1.5em;
	margin-block-start: 1.5em;
	margin-bottom: 1.5em;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
}
code {
	font-weight: bold;
}

pre {
	padding: 0.5em 1em;
}