.banner {
	flex: 1 1 auto;
	max-width: 24em;
	margin: 0 auto;
	font-size: calc(1em/0.7);
}
.banner-top {
	border: 1px solid rgba(30, 30, 30, 1);
	border-radius: 3px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #0c0c0c;
}

.banner__left {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: 4em;
	height: 4em;
	align-items: center;
	justify-content: center;
}
.banner__right {
	flex: 1 1 auto;
	padding: 0.5em 1em;
}

.banner-caption {
	font-weight: normal;
}

.banner-subtitle {
	font-size: 0.8em;
}

.banner-bottom {
	margin-top: 1em;
	font-size: 0.6em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.banner-bottom > div > * {
	margin-left: 1em;
}
.banner-bottom > div > *:first-child {
	margin-left: 0;
}
.banner-bottom a {
	font-weight: bold;

	border-radius: 3px;
	text-transform: uppercase;
	padding: 0.5em;
	/* color: #999; */
	/* background: none !important; */
	/* border-bottom: 2px solid transparent; */
}

.banner-bottom a:hover {
	background: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 3px,
		hsl(40, 94%, 20%) 3px,
		hsl(40, 94%, 20%) 6px
	  );
	/* background: repeating-linear-gradient(
		45deg,
		black,
		black 3px,
		#903a1e 3px,
		#903a1e 6px
	  ); */
	/* color: black; */
	/* border-bottom: 1px solid black; */
}

.banner a {
}