.banner {
	flex: 1 1 auto;
	max-width: 24em;
	margin: 0 auto;
}
.banner-top {
	border: 1px solid black;
	border-radius: 3px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.banner__left {
	display: flex;
	flex-direction: column;
	background-color: black;
	color: white;
	flex: 0 0 auto;
	width: 4em;
	height: 4em;
	align-items: center;
	justify-content: center;
}
.banner__right {
	flex: 1 1 auto;
	padding: 0.5em 1em;
}

.banner-caption {
	font-weight: bold;
}

.banner-subtitle {
	font-size: 0.8em;
}

.banner-bottom {
	margin-top: 1em;
	font-size: 0.6em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.banner-bottom > div > * {
	margin-left: 1em;
}
.banner-bottom > div > *:first-child {
	margin-left: 0;
}
.banner-bottom a {
	font-weight: bold;
	text-decoration: none;
	background-color: #f9b832;

	border: 1px solid #b27400;

	border-radius: 3px;
	color: black;
	text-transform: uppercase;
	padding: 0.5em;
	/* color: #999; */
	/* background: none !important; */
	/* border-bottom: 2px solid transparent; */
}

.banner-bottom a:hover {
	border: 1px solid black;
	background: repeating-linear-gradient(
		45deg,
		black,
		black 6px,
		#f9b832 6px,
		#f9b832 12px
	  );
	/* color: black; */
	/* border-bottom: 1px solid black; */
}

.banner a {
}