body {
  margin: 4em;
  color: #333;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  font-size: 120%;
  line-height: 24pt;
}

code, pre {
	font-family: monospace;
	background-color: #eee;
}
code {
	padding: 0 0.25em;
}
pre {
	padding: 0.5em 1em;
}

textarea, input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	border: none;
	padding: 0;
	margin: 0;
}